<center>
<img src="https://habrastorage.org/files/fd4/502/43d/fd450243dd604b81b9713213a247aa20.jpg">
    
## [mlcourse.ai](mlcourse.ai) – Open Machine Learning Course 

<center>Author: [Yury Kashnitskiy](http://yorko.github.io) <br>
Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/) <br>All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data – it's already here). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg). This is a demo version of an assignment, so by submitting the form, you'll see a link to the solution .ipynb file.**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../input/adult.data.csv')
data.head(20)

    age         workclass  fnlwgt  ...   hours-per-week  native-country salary
0    39         State-gov   77516  ...               40   United-States  <=50K
1    50  Self-emp-not-inc   83311  ...               13   United-States  <=50K
2    38           Private  215646  ...               40   United-States  <=50K
3    53           Private  234721  ...               40   United-States  <=50K
4    28           Private  338409  ...               40            Cuba  <=50K
5    37           Private  284582  ...               40   United-States  <=50K
6    49           Private  160187  ...               16         Jamaica  <=50K
7    52  Self-emp-not-inc  209642  ...               45   United-States   >50K
8    31           Private   45781  ...               50   United-States   >50K
9    42           Private  159449  ...               40   United-States   >50K
10   37           Private  280464  ...               80   United-States   >50K
11   30         State-gov  141297  ...               40           India   >50K
12   23           Private  122272  ...               30   United-States  <=50K
13   32           Private  205019  ...               50   United-States  <=50K
14   40           Private  121772  ...               40               ?   >50K
15   34           Private  245487  ...               45          Mexico  <=50K
16   25  Self-emp-not-inc  176756  ...               35   United-States  <=50K
17   32           Private  186824  ...               40   United-States  <=50K
18   38           Private   28887  ...               50   United-States  <=50K
19   43  Self-emp-not-inc  292175  ...               45   United-States   >50K

[20 rows x 15 columns]

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [3]:
data["sex"].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [4]:
# You code here
data[data["sex"]=="Female"]["age"].mean()

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [5]:
# You code here
(data[data["native-country"]=="German"]).mean()*100

age              NaN
workclass        NaN
fnlwgt           NaN
education        NaN
education-num    NaN
marital-status   NaN
occupation       NaN
relationship     NaN
race             NaN
sex              NaN
capital-gain     NaN
capital-loss     NaN
hours-per-week   NaN
native-country   NaN
salary           NaN
dtype: float64

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [6]:
# You code 
high_mean = data[data["salary"]==">50K"]["age"].mean()
high_std = data[data["salary"]==">50K"]["age"].std()

low_mean = data[data["salary"]=="<=50K"]["age"].mean()
low_std = data[data["salary"]=="<=50K"]["age"].std()

print("high_mean: ",high_mean)
print("high_std: ",high_std)
print("low_mean: ",low_mean)
print("low_std: ",low_std)

high_mean:  44.24984058155847
high_std:  10.51902771985177
low_mean:  36.78373786407767
low_std:  14.020088490824813

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [7]:
# You code here
pd.crosstab(data["salary"]==">50K",data["education"].isin(["Bachelors","Prof-school","Assoc-acdm","Assoc-voc","Masters","Doctorate"]))

education  False  True
salary
False      18739   5981
True        3306   4535

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [8]:
# You code here

g=data.groupby(["race","sex"])["age"].describe()
max_age=data[(data["race"]=="Amer-Indian-Eskimo") & (data["sex"]=="Male")]["age"].dropna().max()
print(g)
print("Maximum age= ",max_age)

                             count       mean  ...     75%   max
race               sex                         ...
Amer-Indian-Eskimo Female    119.0  37.117647  ...   46.00  80.0
                   Male      192.0  37.208333  ...   45.00  82.0
Asian-Pac-Islander Female    346.0  35.089595  ...   43.75  75.0
                   Male      693.0  39.073593  ...   46.00  90.0
Black              Female   1555.0  37.854019  ...   46.00  90.0
                   Male     1569.0  37.682600  ...   46.00  90.0
Other              Female    109.0  31.678899  ...   39.00  74.0
                   Male      162.0  34.654321  ...   42.00  77.0
White              Female   8642.0  36.811618  ...   46.00  90.0
                   Male    19174.0  39.652498  ...   49.00  90.0

[10 rows x 8 columns]
Maximum age=  82

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [9]:
# You code here
Married= data[data["marital-status"].str.startswith("Married")]
Bachelors=data[~data["marital-status"].str.startswith("Married")]

married_earns=(Married["salary"] == ">50K").mean()*100
bachelor_earns=(Bachelors["salary"] == ">50K").mean()*100

print(f"married earns {married_earns:.2f}%")
print(f"bachelors earns {bachelor_earns:.2f}%")

married earns 43.69%
bachelors earns 6.45%

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [10]:
# You code here
max_hours=data["hours-per-week"].max()
max_hours_workers=(data[data["hours-per-week"]==max_hours])
max_hours_workers_count=max_hours_workers.shape[0]

high_earners = (max_hours_workers["salary"]==">50K").mean()*100
print(f"max hours a person works per week {max_hours}")
print(f"workers who works max hours {max_hours_workers_count}")
print(f"Those who earns >50K salary {high_earners:.2f}%")

max hours a person works per week 99
workers who works max hours 85
Those who earns >50K salary 29.41%

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [11]:
# You code here
avg_hrs_per_country=data.groupby(["native-country","salary"])["hours-per-week"].mean()
print(f"for japan \n{avg_hrs_per_country.loc['Japan']}")

for japan
salary
<=50K    41.000000
>50K     47.958333
Name: hours-per-week, dtype: float64